<html>

<body>

    <form action="{{ url_for('addrec') }}" method="POST">
        <h3>TOTP Information</h3>
        Name
        <br>
        <input type="text" name="site_name" />
        </br>
        Secret

        <br>
        <input type="text" name="site_secret" />
        <br>
        <input type="submit" value="submit" />
        </br>
    </form>

</body>

</html>