<!doctype html>
<html>

<body>

    <table border=1>
        <thead>
            <td>Server Name</td>
            <td>TOTP</td>
        </thead>
        {% for key, value in rows %}

        <tr>
            <th> {{ key }} </th>
            <td> {{ value }} </td>
        </tr>

        {% endfor %}
    </table>

</body>
<p id="demo"></p>
<script>
    var timeLeft = parseInt(30 - (((new Date).getTime() / 1000) % 30));
    var elem = document.getElementById('demo');
    var timerId = setInterval(countdown, 1000);

    function countdown() {
        if (timeLeft == 0) {
            //clearTimeout(timerId);
            location.reload();
        } else {
            elem.innerHTML = timeLeft + ' seconds remaining';
            timeLeft--;
        }
    }
</script>
<a href="/">Go back to home page</a>

</html>